body {
  background-color: white;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  text-align: right;
}

nav li {
  display: inline-block;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(34, 23, 23);
}

main {
  background-image: url("https://wallpaperaccess.com/full/146393.jpg");
  background-repeat: no-repeat;
  background-size: 1500px;
  width: 100%;
  height: 650px;
}

h1 {
  font-size: 7.5rem;
  margin: 0;
  padding-top: 15rem;
}

#about {
  padding-left: 0.5rem;
}

.abilities {
  padding-left: 0.5rem;
}

footer {
  margin: 5px;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: green;
}

footer a:hover {
  background-color: rgb(34, 23, 23);
}

.link {
  margin: 0;
}