<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>exercises</title>
</head>
<body>
<p>#A Simple, Handy Guide To Flask</p>
<hr>
<p>What You Will Learn :
Flask Basics</p>
<p>Instructions:
Build a lesson page for the di-learning platform !</p>
<ol>
<li><p>Create a directory called lesson1.</p>
</li>
<li><p>Inside the directory there should be 2 markdown files (.md) : <strong>in-this-chapter.md</strong> and <strong>exercises.md</strong>
Check out the hint below for more information on markdown file.
Check out the <a href="https://www.markdownguide.org/cheat-sheet/">markdown documentation</a>.</p>
</li>
<li><p>The first file <strong>in-this-chapter.md</strong> should contain a lesson of your choice.</p>
</li>
<li><p>The second file <strong>exercises.md</strong> should contain exercises (it can be yours or it can be from the platform).</p>
</li>
<li><p>Make a beautiful flask website that displays the content (like the DI platform). The page needs to have two tabs, one for the lesson and one for the exercises.</p>
</li>
</ol>
<p>Hint :
<a href="https://www.https://www.youtube.com/watch?v=HUBNt18RFbo">Markdown Crash Course</a></p>
<p>Duration &amp; Difficulty
Duration (approx)    Difficulty</p>
<blockquote>
<p>30 minutes    ⭐</p>
</blockquote>
<p>Don’t forget to push on<a href="https://www.github.com">GitHub</a></p>

</body>
</html>